@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found</title>
</head>
<body>
    <div style="background-image: url(@Url.Content("~/imgs/error/404.jpg"));width:1024px;height:768px;">
    </div>
</body>
</html>
